# BEGIN WordPress for server
	<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
	RewriteCond %{SERVER_PORT} !^443$
	RewriteRule ^(.*)$ https://vitukraina.com.ua/$1 [R=301,L]
	</IfModule>
# END WordPress



# BEGIN WordPress for local host
	#<IfModule mod_rewrite.c>
	#RewriteEngine On
	#RewriteBase /vitukraina.com.ua/
	#RewriteRule ^index\.php$ - [L]
	#RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteCond %{REQUEST_FILENAME} !-d
	#RewriteRule . /vitukraina.com.ua/index.php [L]
	#</IfModule>
# END WordPress