html, body {width:100%; height:100%;}

* {margin: 0; padding: 0; box-sizing: border-box; -webkit-font-smoothing: antialiased;}
table {border-collapse: collapse; width: 100%;}
input {
	&:focus {outline: none;}
}
img, table {border: none;}


a {
	color: #000;
	text-decoration: none;
	transition: all 0.5s ease;
	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
		outline: 0;
	}
	
}

				
button {outline: none; cursor: pointer;}
svg:not(:root) {overflow: hidden;}


header,footer,article,section,hgroup,nav,menu,aside,figure,main,video,address,picture,figcaption {display:block;}


h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font: {
	    weight: bold;
	}
}
h1 {font-size: 36px;}
h2 {font-size: 27px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 16px;}
h6 {font-size: 12px;}

ul, ol {list-style:none;}

p {margin: 10px 0;}

img{width:auto\9;height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}




body {
	background: #fff;

	font: {
		family: 'Lato', sans-serif;
		size: 16px;
	}
	color: $text-color;
}