.icon {
  display: inline-block;
}

.wrap {
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
/* START HEADER */
.header {
	@include breakpoint(md-down) {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	&__top {
		padding: 29px 0;
		background: #fff;
		@include breakpoint(md-down) {
		  padding: 8px 0 11px 0;
		  border-bottom: 1px solid #000;
		}
	}
	&__bottom {
		background: #274c9c;
		@include breakpoint(md-down) {
		  display: none;
		}
	}
	&__contacts {
		margin: 0;
		padding: 31px 0 0 0;
		li {
			display: inline-block;
			vertical-align: top;
			padding: 0 15px 0 0;
			&:first-child {
				i {
					position: relative;
					top: 2px;
				}
			}
			a {
				font-size: 18px;
				color: #0a1f2f;
				margin: 0 0 0 6px;
			}
		}
	}
}


.logo {
	background: url(../img/logo.png) no-repeat;
	width: 90px;
	height: 90px;
	display: block;
	text-indent: -9000px;
	overflow: hidden;
	@include breakpoint(md-down) {
	  width: 60px;
	  height: 60px;
	  background-size: 60px 60px;
	}
}

.languages {
	margin: 0;
	padding: 33px 0 0 0;
	float: right;
	li {
		float: left;
		margin: 0 0 0 8px;
		span {
			display: none;
		}
	}
}

.menu {
	margin: 0;
	display: flex;
	&__item {
		&:first-child {
			display: none;
		}
		position: relative;
		 a {
			color: #fff;
			display: block;
			padding: 14px 24px 18px 24px;
			font: {
			    family: 'PT Sans Narrow', sans-serif;
			    size: 22px;
			}
			&:hover,&:active {
				text-decoration: none;
				background: #fff;
				color: #274c9c; 
			}
		}
		> ul {
			margin: 0;
			position: absolute;
    		display: none;
    		z-index: 999;
    		background: #274c9c;
    		width: 220px;
    		
		}
		&:hover > ul {
			@include breakpoint(md-up) {
				display: block;
			}
		    
		}
	}
	&__item--active {
		a {
			text-decoration: none;
			background: #fff;
			color: #274c9c; 
		}
	}
}
/* END HEADER */


.main {
	@include breakpoint(md-down) {
		padding-top: 80px;
	}
}

/* START SLIDER */
.mainSlider {
  &__item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 43px 0;
    min-height: calc(100vh - 213px);
    display: flex;
    align-items: center;
    position: relative;
    &:before {
    	content: '';
    	background: #0a1f2f;
    	opacity: 0.6;
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	left: 0;
    	top: 0;
    }
    h2 {
    	font-size: 48px;
    	color: #fff;
    	text-transform: uppercase;
    	margin: 0 0 0 92px;
    	@include breakpoint(sm-down) {
			margin: 0;
			font-size: 30px;
		}
    }
    .button {
    	margin: 23px 0 0 92px;
    	@include breakpoint(sm-down) {
			margin: 9px 0 0 0;
		}
    }
    .container {
    	@include breakpoint(sm-down) {
			flex-basis: 100%;
		}
    }
    @include breakpoint(sm-down) {
      min-height: calc(100vh - 80px);
    }
    @include breakpoint(xs-down) {
      background-size: 660px calc(100vh - 80px);
    }
  }
  &__item--1 {
    background-image: url("../img/001.jpg");
    h2 {
    	max-width: 378px;
    	@include breakpoint(sm-down) {
			max-width: 220px;
		}
    }
  }
  &__item--2 {
    background-image: url("../img/002.jpg");
    h2 {
    	max-width: 578px;
    	@include breakpoint(sm-down) {
			max-width: 220px;
		}
    }
  }
  
  .owl-carousel {
    .owl-dots {
      bottom: 43px;
      height: 16px;
      @include breakpoint(sm-down) {
        bottom: 27px;
      }
    }
  }

}


.owl-carousel {
	.owl-dots {
	  position: absolute;
	  width: 100%;
	  text-align: center;
	  @include breakpoint(sm-down) {
	    bottom: 14px;
	  }
	  div {
	    margin: 0 4px;
	    display: inline-block;
	    vertical-align: top;
	    width: 16px;
	    height: 16px;
	    border-radius: 50%;
	    border: 1px solid #fff;
	    &.active {
	      background: #fff;
	    }
	  }
	}
}
/* END SLIDER */


/* START ABOUT BLOCK */
.aboutBlock {
	padding: 29px 0 148px 0;
	@include breakpoint(sm-down) {
		    padding: 10px 0 82px 0;
		}
	text-align: center;
	&__title {
		font-size: 48px;
		text-transform: uppercase;
		@include breakpoint(sm-down) {
		    font-size: 30px;
		    margin-bottom: 1px;
		}
	}
	p {
		margin: 2px 0 37px 0;
		font-size: 18px;
		@include breakpoint(sm-down) {
		    margin-bottom: 28px;
		}
	}
}
/* END ABOUT BLOCK */


/* START PARTNERS BLOCK */
.partnersBlock {
	padding: 29px 0 74px 0;
	@include breakpoint(sm-down) {
		padding: 15px 0 50px 0;	    
	}
	background: #274c9c;
	text-align: center;
	&__title {
		font-size: 48px;
		text-transform: uppercase;
		color: #fff;
		@include breakpoint(sm-down) {
		    font-size: 30px;
		    margin-bottom: 1px;
		}
	}
}
.partnersSlider {
	&__item {
		padding: 0 0 38px 0;
		@include breakpoint(sm-down) {
		   padding: 15px 0 71px 0;
		}
	}
	&__pic {
		text-align: center;
		img {
			width: auto!important;
			margin: 0 auto;
			-webkit-transform: perspective(1px) translateZ(0);
  			transform: perspective(1px) translateZ(0);
  			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  			&:hover {
  				-webkit-animation-name: hvr-buzz-out;
				  animation-name: hvr-buzz-out;
				  -webkit-animation-duration: 0.75s;
				  animation-duration: 0.75s;
				  -webkit-animation-timing-function: linear;
				  animation-timing-function: linear;
				  -webkit-animation-iteration-count: 1;
				  animation-iteration-count: 1;
  			}
		}
	}
	&__title {
		font-size: 18px;
		text-transform: uppercase;
		color: #fff;
		padding: 25px 0 0 0;
	}
	.owl-carousel {
	    .owl-dots {
	      @include breakpoint(sm-down) {
	        bottom: 27px;
	      }
	    }
	  }
}

/* END PARTNERS BLOCK */


/* START CONTACTS BLOCK */
.contactsBlock {
	display: flex;
	@include breakpoint(md-down) {
	        flex-wrap: wrap;
	    }
	&__info {
		flex-basis: 445px;
		display: flex;
		align-items: center;
		@include breakpoint(md-down) {
	        flex-basis: 100%;
	    }
	}
	&__map {
		flex-shrink: 2;
		@include breakpoint(md-down) {
	        flex-basis: 100%;
	        height: 470px;
	    }
	    img {
	    	@include breakpoint(md-down) {
		        height: 100%;
		        object-fit: cover;
		    }
	    }
	}
}
.contactsBlockList {
	display: flex;
	margin: 0 auto;
	width: 220px;
	flex-wrap: wrap;
	@include breakpoint(md-down) {
	    width: 100%; 
	    max-width: 300px;
	    padding: 25px 10px 25px 10px;
	}
	@include breakpoint(sm-down) {
	    margin: 0;
	}
	li {
		position: relative;
		color: #0a1f2f;
		flex-basis: 100%;
		margin: 15px 0;
		i {
			position: absolute;
			left: 0;
			top: 3px;
		}
		span {
			padding: 0 0 0 26px;
			display: block;
		}
		a {
			margin: 0 0 0 26px;
			display: block;
			color: #0a1f2f;
		}
	}
}

/* END CONTACTS BLOCK */


/* START FOOTER */
.footer {
	background: #0a1f2f;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	&__top {
		padding: 29px 0;
	}
	&__bottom {
		padding: 27px 0;
		@include breakpoint(sm-down) {
			padding: 0 0 20px 0;
		}
	}
	&__logo {
		background: url(../img/logo.png) no-repeat;
		width: 90px;
		height: 90px;
		display: block;
		text-indent: -9000px;
		overflow: hidden;
		@include breakpoint(sm-down) {
		  width: 60px;
		  height: 60px;
		  background-size: 60px 60px;
		}
	}
	&__rules {
		font-size: 12px;
		color: #fff;
		margin: 0;
		@include breakpoint(sm-down) {
		  padding-bottom: 28px;
		}
	}
	&__designed {
		font-size: 12px;
		color: #fff;
		margin: 0;
		position: relative;
		left: -18px;
		@include breakpoint(sm-down) {
			left: 0;
		}
		a {
			color: #fff;
		}
	}
}
.footerNav {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 31px 0 0 0;
	@include breakpoint(sm-down) {
		padding: 6px 0 0 0;
	}
	&__item {
		flex-basis: 20%;
		@include breakpoint(sm-down) {
		 flex-basis: 50%;
		 padding: 0 10px 12px 0;

		}
		a {
			color: #fff;
			font: {
			    family: 'PT Sans Narrow', sans-serif;
			}
		}
	}
}
.social {
	margin: 0;
	display: flex;
	position: relative;
	top: -2px;
	left: -24px;
	@include breakpoint(sm-down) {
		left: 0;
		justify-content: flex-end;
	}
	li {
		margin: 0 12px 0 0;
	}
}
/* END FOOTER */

.slicknav_menu {
  display:none;
}

@include breakpoint(md-down) {

  .slicknav_icon-bar {transition: all 0.3s ease-in;}
  .slicknav_btn.slicknav_open .slicknav_icon-bar {position: absolute; top: 10px;}
  .slicknav_btn.slicknav_open  .slicknav_icon-bar:first-child {display: none;}
  .slicknav_btn.slicknav_open  .slicknav_icon-bar:nth-child(2) {transform: rotate(45deg);}
  .slicknav_btn.slicknav_open  .slicknav_icon-bar:nth-child(3) {transform: rotate(-45deg);}
  .slicknav_nav ul {
    margin: 0;
  }
  .slicknav_menu {
    display: block;
    background: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 111;
    width: 100%;
    padding: 0;
  }
  .slicknav_nav {
    background: #fff;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    padding: 17px 0 0 0;
  }
  .slicknav_btn {
    position: absolute;
    right: 5px; 
    top: 21px;
    background: #fff;
    z-index: 110;
  }
  .slicknav_nav a {
    padding: 6px 10px 8px 10px;
    border-radius: 0;
    margin: 0;
    color: #274c9c;
  }
  .slicknav_nav .slicknav_row {
    padding: 6px 10px 8px 10px;
    margin: 0;
  }

  .slicknav_nav a:hover,.slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background-color: #274c9c;
    color: #fff;
  }
  .slicknav_nav a:hover a,.slicknav_nav .slicknav_row:hover a {
  	color: #fff;
  }
  

 
  .slicknav_nav li {
    border-radius: 0;
    border-bottom: 1px solid #0a1f2f;
  }
  .slicknav_nav li:first-child {
  	display: block;
  }
  .slicknav_nav li a i {
  	margin-right: 5px;
  }
  .slicknav_menu .slicknav_icon-bar {
  	box-shadow: none;
  	background-color: #0a1f2f;
  	border-radius: 0;
  }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  	margin-top: 2px;
  }
  .slicknav_nav li ul {
  	position: relative;
  	width: 100%;
  	background: #fff;
  }
  .slicknav_nav li ul li {
  	   border-top: 1px solid #0a1f2f;
  	   border-bottom: 0;
  }
}


/* START ABOUT PAGE */
.breadcrumbs {
	padding: 67px 0 57px 90px;
	@include breakpoint(md-down) {
	    padding: 35px 0 40px 60px;
	}
	@include breakpoint(sm-down) {
	    padding: 6px 0 18px 0;
	}
}
.aboutImg {
	@include breakpoint(sm-down) {
		    padding-top: 10px;
	}
	img {
		@include breakpoint(sm-down) {
		    width: 100%;
		}
	}
}
.aboutText {
	&__title {
		margin: 0;
		padding: 15px 0 7px 0;
		@include breakpoint(sm-down) {
		    font-size: 30px;
		    padding: 21px 0 0 0;
		}
	} 
}
.aboutGallery {
	padding: 77px 0 110px 0;
	@include breakpoint(md-down) {
	    padding: 30px 0 55px 0;
	}
	@include breakpoint(sm-down) {
	    padding: 0 0 50px 0;
	    margin: 8px 0 0 0;
	}
}

.aboutGallerySlider {
	&__pic {
		a {
			img {
				 -webkit-transform: perspective(1px) translateZ(0);
				 transform: perspective(1px) translateZ(0);
  				 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			}
			&:hover {
				img {
					-webkit-animation-name: hvr-push;
					  animation-name: hvr-push;
					  -webkit-animation-duration: 0.3s;
					  animation-duration: 0.3s;
					  -webkit-animation-timing-function: linear;
					  animation-timing-function: linear;
					  -webkit-animation-iteration-count: 1;
					  animation-iteration-count: 1;
				}
			}
		}
	}
}



/* END ABOUT PAGE */


/* START CONTACT PAGE */
.contactInfo {
	&__title {
		margin: 0;
		@include breakpoint(sm-down) {
		    font-size: 30px;
		    padding-top: 0;
		    padding-bottom: 3px;
		}
	}
	.contactsBlockList {
		margin: 81px 0 0 0;
		@include breakpoint(md-down) {
		    margin: 0;
		}
		@include breakpoint(sm-down) {
		    padding: 0;
		    margin-bottom: 14px;
		}
		li {
			p {
				margin: 0;
			}
		}
	}
}
.small-map {
	@include breakpoint(sm-down) {
	    margin: 0 -15px;
	}
	img {
		width: 100%;
		height: 100%;
		border: 1px solid #0a1f2f;
		@include breakpoint(sm-down) {
		    object-fit: cover;
		    border: 0;
		}
	}
	@include breakpoint(sm-down) {
	    height: 470px;
	}
}
.contactWrap {
	padding: 13px 0 110px 0;
	@include breakpoint(md-down) {
		    padding: 0 0 50px 0;
	}
	@include breakpoint(sm-down) {
	    padding: 0;
	}
}
/* END CONTACT PAGE */


/* START GALLERY PAGE */
.galleryWrap {
	padding: 0 0 67px 0;
	@include breakpoint(sm-down) {
	  padding: 0 0 31px 0;
	  margin: -10px 0 0 0;
	}
}
.galleryBlock {
	margin: 0 0 13px 0;
	&__title {
		font-size: 36px;
		margin: 0 0 45px 100px;
		padding-top: 0;
		@include breakpoint(sm-down) {
		  margin: 0;
		  padding: 0 0 15px 0;
		  font-size: 30px;
		}
	}
}
.gallerySlider {
	.owl-carousel {
		display: block;
		@include breakpoint(sm-up) {
		  margin: 0 0 0 -30px;
		  overflow: hidden;
		  display: flex;
		  flex-wrap: wrap;
		}
	}
	&__item {
		@include breakpoint(sm-up) {
		  margin: 0 0 30px 0;
		  flex-basis: 25%;
		  padding: 0 0 0 30px;
		}
	}
	&__pic {
		height: 100%;
		a {
			img {
				 -webkit-transform: perspective(1px) translateZ(0);
				 transform: perspective(1px) translateZ(0);
  				 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			}
			&:hover {
				img {
					-webkit-animation-name: hvr-push;
					  animation-name: hvr-push;
					  -webkit-animation-duration: 0.3s;
					  animation-duration: 0.3s;
					  -webkit-animation-timing-function: linear;
					  animation-timing-function: linear;
					  -webkit-animation-iteration-count: 1;
					  animation-iteration-count: 1;
				}
			}
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}
/* END GALLERY PAGE */


/* START PARTNERS */
.partners {
	padding: 0 0 45px 0;
	@include breakpoint(sm-down) {
		  padding-bottom: 15px;
		}
	&__title {
		text-align: center;
		margin: 0 0 45px 0;
		padding-top: 0;
		@include breakpoint(sm-down) {
		  font-size: 30px;
		  text-align: left;
		  padding: 0;
		  margin: -10px 0 20px 0;
		}
	}
}
.partnersList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__item {
		flex-basis: 33%;
		text-align: center;
		padding: 0 0 50px 0;
		@include breakpoint(sm-down) {
		  flex-basis: 100%;
		  padding-bottom: 18px;
		}
	}
	&__title {
		font-size: 18px;
		text-transform: uppercase;
		padding: 25px 0 7px 0;
	}
	&__city {
		color: #ccd2cd;
		margin: 0;
		font-size: 14px;
	}
	&__pic {
		img {
			-webkit-transform: perspective(1px) translateZ(0);
  			transform: perspective(1px) translateZ(0);
  			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  			&:hover {
  				-webkit-animation-name: hvr-buzz-out;
				  animation-name: hvr-buzz-out;
				  -webkit-animation-duration: 0.75s;
				  animation-duration: 0.75s;
				  -webkit-animation-timing-function: linear;
				  animation-timing-function: linear;
				  -webkit-animation-iteration-count: 1;
				  animation-iteration-count: 1;
  			}
		}
	}
}
/* END PARTNERS */


/* START PRODUCTS */
.productsWrap {
	&__title {
		margin: 0 0 30px 0;
		padding-top: 0;
		@include breakpoint(sm-down) {
		  font-size: 30px;
		  margin: -10px 0 4px 0;
		}
	}
	&__catalog {
		padding: 0 0 28px 0;
		@include breakpoint(sm-down) {
		  padding-bottom: 14px;
		}
	}
	&__subtitle {
		font-size: 18px;
		padding: 0 0 37px 0;
		@include breakpoint(sm-down) {
		  padding-bottom: 15px;
		}
	}
	&__item {
		position: relative;
		padding: 0 0 0 18px;
		margin: 0 0 29px 0;
		@include breakpoint(sm-down) {
		  margin-bottom: 8px;
		}
		&:before {
			content: '';
			background: #e04404;
			width: 7px;
			height: 7px;
			position: absolute;
			left: 0;
			top: 9px;
		}
	}
}
.productInfo {
	padding: 32px 0;
	@include breakpoint(sm-down) {
		padding: 20px 0 0 0;
	}
	&__text {
		padding: 9px 0 0 0;
		@include breakpoint(md-down) {
			padding: 0;
		}
		@include breakpoint(sm-down) {
			padding: 3px 0 0 0;
		}
	}
	&__pic {
		@include breakpoint(md-down) {
			text-align: center;
		}
	}
}
.certificate {
	padding: 62px 0 110px 0;
	@include breakpoint(sm-down) {
		padding: 16px 0 18px 0;
	}
	&__text {
		padding: 9px 0 0 0;
		@include breakpoint(md-down) {
			padding: 0;
		}
	}
	&__pic {
		@include breakpoint(md-down) {
			text-align: center;
			padding-bottom: 4px;
		}
	}
}
/* END PRODUCTS */

/* START ANIMATION */
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
/* END ANIMATION */